.login{
    height: 1650px;
    width: 3000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 3200px 1780px;

    
}


.edi{
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    object-fit: contain;
   margin-top: 100px;
    border-color: rgb(0, 0, 0);
    
    border-style: solid;
    border-radius: 50px;
    margin-left:1500px; 
    margin-right: 250px;
     background-image: linear-gradient(rgb(14, 14, 14), rgb(138, 9, 9))
    }
    
  

.user{
    width: 300px;
    height: 50px;
    margin-bottom: 20px;
    margin-top: 50px;
    text-align: center;
    border-radius: 10px;
    border-style: solid;
    background-color: rgb(255, 255, 255);
}
.user1{
    width: 300px;
    height: 50px;
    margin-bottom: 50px;
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
    border-style: solid;
    background-color: rgb(255, 255, 255);
}
.user2{
    width: 300px;
    height: 50px;
    margin-bottom: 50px;
    margin-top: 155px;
    text-align: center;
    border-radius: 10px;
    border-style: solid;
    background-color: rgb(247, 247, 247);
    cursor:pointer;
    font-size: 20px;
    font-weight:bold;
    font-style:nexa;
    color: rgb(0, 0, 0);
    
}
.user2:hover{
opacity: 0.75;
}
.user2:active{
color:brown;
}
