

.back{
    margin-top:40px;
}

.next{
    margin-top:40px;
}.background{
    background-position: center;
    width: 600px;
    height:400px;
    object-fit:contain;
    object-position: center;

}
.im{
    background-position: top; 
    width:1000px; 
    height: 1600px;
    object-fit:contain;
    margin-left: 100px;
    
}
.susi{
    font-size:100px;
    font-weight:bolder;
    font-family:STcaiyan;
    position: center;
    color:rgb(221, 35, 66);
    text-align: center;
  
}
.back1{
    margin-left: 10px;
    border-color:blue;
    border-width:3px;
    object-fit:contain;
    object-position: center;
    width:300px;
    height:200px;
    
}
.search{
    font-size:20px;
    margin-left:30px;
    border-radius:3px;
    height: 40px;
}
.pushpa2{
    margin:50px;
    color: rgb(211, 48, 72);
    font-size:40px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 0;
}
.back2{
    width:280px;
    height:200px;
    border-width:3px;
    object-fit: contain;
    object-position: top;
    margin-bottom: 50px;
    margin-left: 10px;

}
